@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #eceff1;
    --foreground: #111827;

    --card: #ffffff;
    --card-foreground: #111827;

    --popover: #ffffff;
    --popover-foreground: #111827;

    --primary: #191970;
    --primary-foreground: #ffffff;

    --secondary: #dde3e8;
    --secondary-foreground: #191970;

    --muted: #f3f4f6;
    --muted-foreground: #6b7280;

    --accent: #ffc107;
    --accent-foreground: #191970;

    --destructive: #ef4444;
    --destructive-foreground: #ffffff;

    --border: #d1d5db;
    --input: #d1d5db;

    --ring: #191970;

    --chart-1: #191970;
    --chart-2: #ffc107;
    --chart-3: #eceff1;
    --chart-4: #4f46e5;
    --chart-5: #f59e0b;

    --radius: 0.5rem;
  }
  /* .dark {
    --background: #121212;
    --foreground: #eceff1;

    --card: #1e1e1e;
    --card-foreground: #eceff1;

    --popover: #1e1e1e;
    --popover-foreground: #eceff1;

    --primary: #ffc107;
    --primary-foreground: #191970;

    --secondary: #2c2c54;
    --secondary-foreground: #eceff1;

    --muted: #2a2a2a;
    --muted-foreground: #a1a1aa;

    --accent: #ffc107;
    --accent-foreground: #191970;

    --destructive: #dc2626;
    --destructive-foreground: #ffffff;

    --border: #333333;
    --input: #333333;

    --ring: #ffc107;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Scrollbar ki motayi */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f8fafc; /* Scrollbar ka background path */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* Scrollbar ka color (Gray) */
  border-radius: 10px;
  border: 1px solid transparent; /* Thori si space dene ke liye */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3b82f6; /* Hover karne par Blue color */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

/* Scrollbar ki width */
textarea::-webkit-scrollbar {
  width: 8px;
}

/* Background track (Mist Gray shade) */
textarea::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

/* Moving handle (Midnight Blue) */
textarea::-webkit-scrollbar-thumb {
  background: #191970;
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* Is se handle ke charon taraf thori space feel hogi */
}

/* Handle on hover (Thora light blue) */
textarea::-webkit-scrollbar-thumb:hover {
  background: #2a2a8a;
}
